
body {
    background-color: white;
     }

h1 {
  background-color: #f2f2f2;
  text-align: center;
  text-decoration-color: brown;
  font-style: italic;
   }

h3 {
text-decoration-color: #004040;
text-align: center;
  }

 table,th,td {
    text-align: center;
            } 
